
.grid {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    gap: 20px;
}

div h4 {
    border: 1px solid #f7f4f4;
    border-radius: 5px;
    width: 16%;
    text-align: center;
    display: inline;
    gap: 5px;
}

.cursor {
    display: grid;
    grid-template-columns: 20fr 1fr;
    gap: 90px;

}

.margin {
    margin: 25px;
}


.head{
    background-color: #c49e5c;
    color: white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

body {
    background-color: black;
    color: white;
}

.couleur {
    background-color:  chocolate;
}

